option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: composer_options
    value: --no-dev

container_commands:
   00_migrate:
      command: "php /var/app/ondeck/artisan migrate:refresh --force"
      # cwd: "/var/app/ondeck"
      leader_only: true
   01_seed:
      command: "php /var/app/ondeck/artisan db:seed --force"
      # cwd: "/var/app/ondeck"
      leader_only: true
   02_cache:
      command: "php /var/app/ondeck/artisan cache:clear"
      # cwd: "/var/app/ondeck"
#   03_clear_config:
#   	  command: "php /var/app/ondeck/artisan config:clear"
#   03_config:
#      command: "php /var/app/ondeck/artisan config:cache"
#   05_clear_route:
#	  command: "php /var/app/ondeck/artisan route:clear"
#   04_route:
#	  command: "php /var/app/ondeck/artisan route:cache"
   04_optimize:
      command: "php /var/app/ondeck/artisan optimize --force"
      # cwd: "/var/app/ondeck"
   05_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod 777 -R /var/app/ondeck"
# cwd: "/var/app/ondeck"